* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #252525;
}
body .modalOrder {
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 15;
}
body .modalOrder .modal {
  background: #252525;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 900px;
  padding: 50px;
  width: 100%;
}
body .modalOrder .modal .OrderTitle {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
body .modalOrder .modal .OrderTitle h1 {
  font-size: 28px;
  font-weight: 500;
}
body .modalOrder .modal .OrderBook {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
body .modalOrder .modal .OrderBook .OrderDropDown {
  display: inline-block;
  position: relative;
}
body .modalOrder .modal .OrderBook .OrderDropDown .OrderBookButton {
  align-items: center;
  background-color: #fff;
  border: 1.5px solid transparent;
  border-radius: 20px;
  color: #252525;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  padding: 12px 20px;
  text-align: start;
  width: 100%;
}
body .BookDetailsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}
body .BookDetailsContainer .BookDetails {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 40px 40px;
  width: 1280px;
}
@media only screen and (max-width: 1000px) {
  body .BookDetailsContainer .BookDetails {
    width: 600px;
  }
}
body .BookDetailsContainer .BookDetails .BookDTitle {
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: 500;
}
@media only screen and (max-width: 1000px) {
  body .BookDetailsContainer .BookDetails .BookDTitle {
    justify-content: center;
    align-items: center;
  }
  body .BookDetailsContainer .BookDetails .BookDTitle .BookTitleDetails {
    flex-direction: column;
  }
}
body .BookDetailsContainer .BookDetails .BookDTitle .BookTitleLibrary {
  color: #ff4e16;
  cursor: pointer;
}
body .BookDetailsContainer .BookDetails .BookDTitle .BookTitleDetails {
  color: #fff;
  display: block;
}
body .BookDetailsContainer .BookDetails .BookSContainer {
  display: flex;
  gap: 50px;
}
@media only screen and (max-width: 1000px) {
  body .BookDetailsContainer .BookDetails .BookSContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
body .BookDetailsContainer .BookDetails .BookSContainer .BookInteract {
  align-items: flex-start;
  display: flex;
  gap: 24px;
}
body .BookDetailsContainer .BookDetails .BookSContainer .BookInteract .BookInteraction {
  color: #fff;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: 500;
  gap: 20px;
}
body .BookDetailsContainer .BookDetails .BookSContainer .BookInteract .BookInteraction .BookInteractLike {
  align-items: center;
  display: flex;
  gap: 8px;
}
body .BookDetailsContainer .BookDetails .BookSContainer .BookInteract .BookInteraction .BookInteractDislike {
  align-items: center;
  display: flex;
  gap: 8px;
}
body .BookDetailsContainer .BookDetails .BookSContainer .BookDescriptionContainer {
  display: flex;
  flex-direction: column;
}
body .BookDetailsContainer .BookDetails .BookSContainer .BookDescriptionContainer .BookDescriptionTitle {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-weight: 500;
  max-width: 650px;
  margin-block-start: 0px;
}
body .BookDetailsContainer .BookDetails .BookSContainer .BookDescriptionContainer .Btn {
  color: #fff;
}
body .BookDetailsContainer .BookDetails .BookSContainer .BookDescriptionContainer .Btn .BtnRequesitar {
  all: unset;
  background: orangered;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 500;
  min-width: 168px;
  padding: 14px;
  text-align: center;
  width: fit-content;
}
body .BookDetailsContainer .BookDetails .BookSContainer .BookDescriptionContainer .BooKDesAut {
  align-items: center;
  display: flex;
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
body .BookDetailsContainer .BookDetails .BookSContainer .BookDescriptionContainer .BooKDesAut .Dot {
  margin: 10px;
}
body .BookDetailsContainer .BookDetails .BookSContainer .BookDescriptionContainer .BooKDesAut .SubAutTitle {
  color: rgb(170, 170, 170);
}
body .BookDetailsContainer .BookDetails .BookSContainer .BookDescriptionContainer .BookEditora {
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
body .BookDetailsContainer .BookDetails .BookSContainer .BookDescriptionContainer .BookPrice {
  color: #ff4e16;
  font-family: "Rubik", sans-serif;
  font-size: 28px;
  font-weight: 500;
}
body .BookDetailsContainer .BookDetails .BookSContainer .BookDescriptionContainer .BookDisponibilidade {
  color: #fff;
  font-weight: 500;
}

/*# sourceMappingURL=DesAva.css.map */
